{{ partial "header.html" . }}

<div class="container">
	<div>
		<a href="{{ .Site.BaseURL }}" >
            <i class="site-logo"></i>
			<h1 class="content-heading">{{ .Site.Title }}</h1>
		</a>
	</div>

	<div class="content">
		{{.Content}}
	</div>

	<div class="navstuff">
		<input type="checkbox" id="nav-toggle" checked>
		<ul class="navmenu">

			{{ $currentPage := . }}
			{{ range .Site.Menus.sitenav_l }}
			<li><a class="button {{if or ($currentPage.IsMenuCurrent "sitenav" .) ($currentPage.HasMenuCurrent "sitenav" .) }}active{{end}}" href="{{ .URL }}">{{ .Pre }} {{ .Name }} {{ .Post }}</a></li>
			{{ end }}
			{{ $currentPage := . }}
			{{ range .Site.Menus.sitenav_r }}
			<li class="right">
				<a class="button {{if or ($currentPage.IsMenuCurrent "sitenav" .) ($currentPage.HasMenuCurrent "sitenav" .) }}active{{end}}" href="{{ .URL }}">{{ .Pre }} {{ .Name }} {{ .Post }} </a>
			</li>
			{{ end }}
		</ul>
		<label for="nav-toggle" class="button" id="nav-toggle-icon-on">&#9662;</label>
		<label for="nav-toggle" class="button" id="nav-toggle-icon-off">&#9650;</label>

	</div>
</div>

{{ partial "footer.html" }}
